data_analysis/data_analysis_global_analysis.ipynb
data_analysis/data_analysis_multivarie_analysis.ipynb
data_analysis/data_analysis_univariable_analysis.ipynb
data/data.csv

gridsearch/gridsearch_marieme.ipynb
