data_analysis/data_analysis_global_analysis.ipynb
data_analysis/data_analysis_multivarie_analysis.ipynb
data_analysis/data_analysis_univariable_analysis.ipynb
data/data.csv

gridsearch/gridsearch_marieme.ipynb
.vscode/settings.json
gridsearch/tp6_SVM/SVM_corr.ipynb
gridsearch/tp1_preprocessing/TP_Machine_Learning_DP_corr-checkpoint.ipynb
app/__pycache__/__init__.cpython-38.pyc
app/config/__pycache__/__init__.cpython-38.pyc
app/config/__pycache__/config.cpython-38.pyc
app/domain/__pycache__/CategoricalTransformer.cpython-38.pyc
app/domain/__pycache__/evaluate_model.cpython-38.pyc
app/domain/__pycache__/FeatureSelector.cpython-38.pyc
app/domain/__pycache__/NumericalTransformer.cpython-38.pyc
app/domain/__pycache__/pip_gb.cpython-38.pyc
app/domain/__pycache__/pip_knn.cpython-38.pyc
app/domain/__pycache__/pip_log_reg.cpython-38.pyc
app/domain/__pycache__/pip_rand_for.cpython-38.pyc
app/domain/__pycache__/pip_svc.cpython-38.pyc
app/domain/__pycache__/pip_test_cat_trans.cpython-38.pyc
app/domain/__pycache__/pip_test.cpython-38.pyc
app/infrastructure/__pycache__/__init__.cpython-38.pyc
app/infrastructure/__pycache__/CustomerProcessor.cpython-38.pyc
logs/lead_scoring_info_log.log
src/application/__pycache__/__init__.cpython-38.pyc
src/application/__pycache__/predict.cpython-38.pyc
src/application/__pycache__/train_model.cpython-38.pyc
src/config/__pycache__/__init__.cpython-38.pyc
src/config/__pycache__/config.cpython-38.pyc
src/domain/__pycache__/CategoricalTransformer.cpython-38.pyc
src/domain/__pycache__/evaluate_model.cpython-38.pyc
src/domain/__pycache__/FeatureSelector.cpython-38.pyc
src/domain/__pycache__/gb_pipeline.cpython-38.pyc
src/domain/__pycache__/log_reg_pipeline.cpython-38.pyc
src/domain/__pycache__/NumericalTransformer.cpython-38.pyc
src/domain/__pycache__/pipeline_transformer.cpython-38.pyc
src/domain/__pycache__/rand_for_pipeline.cpython-38.pyc
src/infrastructure/__pycache__/CleanDataTransformer.cpython-38.pyc
src/infrastructure/__pycache__/__init__.cpython-38.pyc
src/domain/__pycache__/gb_pipeline.cpython-38.pyc
src/domain/__pycache__/__init__.cpython-38.pyc
src/domain/__pycache__/gb_pipeline.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
predict/data.csv
lead_scoring_marieme_alessio/__pycache__/__init__.cpython-38.pyc
lead_scoring_marieme_alessio/application/__pycache__/__init__.cpython-38.pyc
lead_scoring_marieme_alessio/application/__pycache__/predict.cpython-38.pyc
lead_scoring_marieme_alessio/application/__pycache__/train_model.cpython-38.pyc
lead_scoring_marieme_alessio/config/__pycache__/__init__.cpython-38.pyc
lead_scoring_marieme_alessio/config/__pycache__/config.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/__init__.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/categorical_transformer.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/categoricalTransformer.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/evaluate_model.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/feature_selector.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/featureSelector.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/gb_pipeline.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/log_reg_pipeline.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/numerical_transformer.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/numericalTransformer.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/pipeline_transformer.cpython-38.pyc
lead_scoring_marieme_alessio/domain/__pycache__/rand_for_pipeline.cpython-38.pyc
lead_scoring_marieme_alessio/infrastructure/__pycache__/__init__.cpython-38.pyc
lead_scoring_marieme_alessio/infrastructure/__pycache__/clean_data_transformer.cpython-38.pyc
lead_scoring_marieme_alessio/infrastructure/__pycache__/cleanDataTransformer.cpython-38.pyc
