data_analysis/data_analysis_global_analysis.ipynb
data_analysis/data_analysis_multivarie_analysis.ipynb
data_analysis/data_analysis_univariable_analysis.ipynb
data/data.csv

gridsearch/gridsearch_marieme.ipynb
.vscode/settings.json
gridsearch/tp6_SVM/SVM_corr.ipynb
gridsearch/tp1_preprocessing/TP_Machine_Learning_DP_corr-checkpoint.ipynb
app/__pycache__/__init__.cpython-38.pyc
app/config/__pycache__/__init__.cpython-38.pyc
app/config/__pycache__/config.cpython-38.pyc
app/domain/__pycache__/CategoricalTransformer.cpython-38.pyc
app/domain/__pycache__/evaluate_model.cpython-38.pyc
app/domain/__pycache__/FeatureSelector.cpython-38.pyc
app/domain/__pycache__/NumericalTransformer.cpython-38.pyc
app/domain/__pycache__/pip_gb.cpython-38.pyc
app/domain/__pycache__/pip_knn.cpython-38.pyc
app/domain/__pycache__/pip_log_reg.cpython-38.pyc
app/domain/__pycache__/pip_rand_for.cpython-38.pyc
app/domain/__pycache__/pip_svc.cpython-38.pyc
app/domain/__pycache__/pip_test_cat_trans.cpython-38.pyc
app/domain/__pycache__/pip_test.cpython-38.pyc
app/infrastructure/__pycache__/__init__.cpython-38.pyc
app/infrastructure/__pycache__/CustomerProcessor.cpython-38.pyc
logs/lead_scoring_info_log.log
